<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg active" href="/template/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/template/register">Register</a>
    <a class="btn btn-primary btn-lg active" href="/template/protected">Protected</a>
    <a class="btn btn-primary btn-lg active" href="/template/logout">Log Out</a>
</div>
