<H1>Pagina protegida!!!</H1>
<ol>Lista de usuarios:
    <li>Usuario A</li>
    <li>Usuario B</li>
    <li>Usuario C</li>
    <li>Usuario D</li>
    <li>Usuario E</li>
</ol>
<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg active" href="/template/logout">Log Out</a>
</div>
